#card{
  background-image: url(../images/wizkid.JPG);
  width: 180px;
  height: 300px;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  box-shadow: inset 0px -90px 80px 0px black;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#h3large{
  font-weight: 700;
  color: goldenrod;
}
#play{
  color: white;
}
#button-large{
  background-color: rgb(0, 60, 255);
  border: none;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 75px;
}

